:root {
  --primary-strong: hsl(171, 66%, 44%);
  --primary-light: hsl(233, 100%, 69%);
  --neutral-dark: hsl(210, 10%, 33%);
  --neutral-light: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

p,
.footer-links {
  font-size: 1.2rem;
}

.logo-footer {
  width: 30px;
}

/* Header Section */

header {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff),
    url(/images/bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 10rem;
}

.logo-header {
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 15rem 0 5rem 0;
}

.paragraph-header {
  width: 550px;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 20px;
  margin: 2rem 0.5rem;
  padding: 0.5rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
}

.btn-ios {
  background-color: var(--primary-strong);
}

.btn-mac {
  background-color: var(--primary-light);
}

/* Section Two */
